.wrapper{
    width: 50%;
    margin: 50px auto;
    background-color: black;
    border: 6px solid #cf25cf;
    border-radius: 16px;
    color: white;
    text-align: center;
}

.post{
    padding: 40px;
}

.title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.list{
    display: flex;
    color: #cf25cf;
    font-size: 20px;
}

.element + .element{
    margin-left: 10px;
}

.description{
    font-size: 18px;
    text-align: left;
}